.portrait {
  opacity: 0.75;
}

.thibaut_hoerner {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
}

.thibaut_hoerner h1 {
  margin-bottom: 15px;
}

.thibaut_hoerner p {
  margin-bottom: 50px;
}

.cv {
  background-color: white;
  padding: 80px;
}

.cv div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid #6190e8;
  padding: 20px;
}